.contact {
    background: linear-gradient(90.21deg, #1d1d1d -5.91%, #141414 111.58%);
    padding: 60px 30px 20px 0;
    display: flex; /* Use flexbox to arrange image and form side by side */
    align-items: center; /* Vertically center content */

    border-radius: 64px;
    margin: 30px;
  }

  .contact img {
    width: 40%;
    margin: 30px;
  }  

  .contact h2 {
      font-size: 45px;
      font-weight: 700;
    margin-bottom: 30px;
  }

.contact form {
    margin-bottom: 40px;
}

.contact form textarea {
    height: auto;
    min-height: 100px;
}

  .contact form input, .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }
  
  .contact form input:focus, .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .contact form input::placeholder, .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .contact form button span {
    z-index: 1;
    position: relative;
  }
  .contact form button:hover {
    color: #fff;
  }
  .contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .contact form button:hover::before {
    width: 100%;
  }  

  @media screen and (min-width: 781px) {
    .contact {
        .contact form {
            flex: 1; /* Allow the form to grow and take the available space */
        }
        
        .form-row {
            display: flex;
        }
        
        .form-group {
            flex: 1;
            margin-right: 70px;
        }
        
        .form-group.full-width {
            flex: 2;
        }        
    }
}

@media screen and (max-width: 781px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact img {
        display: none;
    }

    .contact h2 {
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact form {
        width: 100%;
        max-width: 220px;
        padding: 0;
        margin: 0;
    }

    .contact form button {
        width: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
